h2, h3, h3 a, a:hover { color: #e80 }
h2 { text-transform: capitalize; }
h2 a { font-size: 18px; text-transform: none}
h3 { font-size: 22px; }
th { font-weight: normal}
pre { font-size: 20px; }
pre strong { display: block; margin-top: 1em; }
pre time { font-size: 18px; }
time.ago { font-size: 14px; }
table.jobs { font-size: 24px; padding-left: 1em; margin-top: 0em; border-spacing: 0em}
table.jobs td  { border-bottom: 1px solid #ddd }
table.jobs th  { border-bottom: 1px solid #777 }
table.jobs tr th, table.jobs tr td { font-size: 18px; padding: 1em; padding-bottom: 0em}
table.jobs tr a.success { color: #0d0 }
table.jobs tr a.failure { color: #d00 }
ul.jobs { font-size: 24px; padding-left: 1em; margin-top: 0em; }
ul.jobs li { padding-right: 2em; }
a { color: #337ab7; text-decoration: none; }
a:hover { text-decoration: underline; }
footer { margin-top: 2em; }
footer a { padding-right: 2em; }
